/* FONTS */
/* font-family: 'La Belle Aurore', cursive;
font-family: 'Marvel', sans-serif;
font-family: 'Rock Salt', cursive;
font-family: 'Wallpoet', cursive; */

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
 


/* Nav */

.navMain {
  display: flex;
  justify-content: center;
  background: transparent;
}

/* .logoOverlay {
  background: rgba(0, 0, 0, 0.5);
  height: 70px;
  width: 30%;
  position: absolute;
} */

.navLogo {
  font-family: "La Belle Aurore", cursive;
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  letter-spacing: 10px;
  margin-left: 50px;
  font-size: 90px;
  z-index: 1;
}

.navLink {
  color: white;
  text-decoration: none;
  font-family: 'Marvel', sans-serif;
  font-size: 23px;
  letter-spacing: 4px;
  cursor: pointer;
  margin: 0 30px 0 30px;
  z-index: 1;
}

.navLink:hover {
  text-decoration: underline;
}

.navBox {
  background: black;
  width: 50%;
  display: flex;
  justify-content: space-around;
  height: 70px;
  align-items: center;
  position: absolute;
  z-index: 1;
}

.navButton {
  border: none;
  height: 35px;
  width: 80px;
  font-family: 'Marvel', sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  background: red;
  color: white;
  position: absolute;
  right: 10%;
  top: 3.8%; 
  cursor: grab;
}
.navButton:hover {
    background: white;
    color: red;
}

.userName {
    color: white;
    position: absolute;
    font-size: 20px;
    right: 7.4%;
    top: 0;
    background: rgba(0, 0, 0, 0.85);
    padding: 5px 20px;
    font-family: 'Marvel', sans-serif;
}

/* NAV END */


/* CART NAV */

.cartIcon {
  position: absolute;
  right: 0;
  border: none;
  background: red;
  height: 70px;
  width: 70px;
  cursor: grab;
}

.badgeColor {
  color: white;
}

/* HOME */

.homeBackground {
  background-image: url("./assets/GraffiTEESbg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.homeSlogan1 {
  color: white;
  font-size: 53px;
  /* border: 1px solid red; */
  position: absolute;
  font-family: 'Rock Salt', cursive;
  top: 30%;
  left: 19%;
  /* background-color: rgb(0, 0, 0, 0.6); */
  letter-spacing: 2px;
  color: white;
  padding: 2px 40px;
  text-shadow: 5px 8px rgb(255, 0 , 0, .7);
}
.homeSlogan2 {
  padding: 20px 40px;
  color: white;
  font-size: 50px;
  position: absolute;
  font-family: 'Rock Salt', cursive;
  top: 39%;
  left: 23%;
  text-shadow: 5px 8px rgb(255, 0 , 0, .7);
}

.homeLogo {
  background-image: url("./assets/logo.png");
  height: 100px;
  background-repeat: no-repeat;
  width: 1000px;
  position: absolute;
  bottom: 0;
  margin-left: 50px;
}
.homeLogo2 {
  background-image: url("./assets/can.png");
  height: 90px;
  width: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  bottom: 3.6%;
  opacity: 0.2;
  margin-left: 108px;
  animation-name: canLogo;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes canLogo {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 0.9;
  }
}

.homeInvButton {
  position: absolute;
  top: 55%;
  left: 53%;
  padding: 15px 30px;
  font-size: 30px;
  background: red;
  color: white;
  font-family: 'Marvel', sans-serif;
  cursor: grab;
}

/* HOME END */

/* PRODUCTS CARD */

.cardImg {
    height: 200px;
    width: 200px;
    text-align: center;
    margin-top: 20px;
}

.itemImgCenter {
  display: flex;
  justify-content: center;
}

.productMain {
    background-image: url("./assets/GraffiTEESbg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    overflow-x: hidden;

}

.mainGrid {
  width: 90%;
  margin: auto;
  margin-top: 200px;
  z-index: 0;
}
.itemCard {
  position: relative;
  border: 1px solid red;
  background: rgba(0, 0, 0, 0.8);
  height: 400px;
}

.prodLogo {
  background-image: url("./assets/logo.png");
  height: 50px;
  background-repeat: no-repeat;
  width: 400px;
  position: absolute;
  top: 1%;
  margin-left: 50px;
}
.prodLogo2 {
  background-image: url("./assets/can.png");
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 1%;
  opacity: 0.2;
  margin-left: 320px;
  animation-name: canLogo;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes canLogo {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 0.9;
  }
}

.itemTitle {
  color: white;
  text-align: center;
  margin-top: 10px;
}
.itemDescription {
  color: white;
  text-align: center;
  margin-top: 10px;
}
.itemCategory {
  color: white;
  text-align: center;
  margin-top: 10px;
}
.itemAmount {
  color: white;
  text-align: center;
  margin-top: 10px;
}
.itemPrice {
  color: white;
  text-align: center;
  margin-top: 10px;
}

.itemButtons {
  display: flex;
  width: 100%;
  align-items: center;
  position: absolute;
  bottom: 0;
  justify-content: space-between;
  height: 40px;

}

.addCartBtn {
  height: 100%;
  border: none;
  background:red;
  color: white;
  text-decoration: none;
  font-family: 'Marvel', sans-serif;
  padding: 5px 20px;
  font-size: 20px;
  cursor: pointer;
}

.adminBtn {
  border: none;
  height: 90%;
  font-family: 'Marvel', sans-serif;
  font-size: 17px;
  padding: 10px;
  background: transparent;
  color: white;
  cursor: pointer;
}

.itemInfo {
  padding-top: 20px;
}

/* ITEM CARD END */

/* ITEM UPDATE */

.updateProdMain{
 background:rgba(0, 0, 0, 1);
 color: white;
 font-family: 'Marvel', sans-serif !important;
 text-align: center;
 width: 100%;
 font-size: 30px !important;
}
.updateContentBox {
  height: 400px;
  display: flex;
  flex-direction: column;
  width: 500px;
  justify-content: space-around;
}

.updateProdBtn {
  display: flex !important;
  justify-content: space-between !important;
  background: black;
  margin: 0 !important;
  padding: 0 !important;
}

.updateProdContent {
  background: white;
  margin: 10px;
  height: 30px;
}

.updateMidBox {
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.updateMidBox2 {
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  width: 600px;
}

.updateLabel {
  color: white;
  font-family: 'Marvel', sans-serif;
  font-size: 18px;
  letter-spacing: 3px;
}

.updateMainTitle {
  color: white !important;
  text-align: center;
  font-family: 'Marvel', sans-serif !important;
  font-size: 19px !important;
}

.updateBtn {
  color: white !important;
  background: red !important;
  height: 100% !important;
  border-radius: 0% !important;
  margin: 0 !important;
}

/* ITEM UPDATE END */

/* REGISTER */
.hideRole {
  display: none;
}

.mainRegister {
  background-image: url("./assets/GraffiTEESbg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  overflow-x: hidden;
}

.registerBox {
  background: rgba(0, 0, 0, 0.8  );
  border: 1px solid red;
  width: 50%;
  height: 600px;
  margin: auto;
  margin-top: 15%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: stretch
}

.inputTitle {
  color: white;
  font-family: 'Marvel', sans-serif;
  font-size: 25px;
  margin-top: 10px;
}
.inputBox {
  background: rgb(255, 0 , 0, .3);
  border: 1px solid red;
  width: 100%;
  height: 30px;
  color: white;
}

.formBox {
  width: 40%;
  text-align: left;
display: flex;
flex-direction: column;
margin: auto;
align-items: flex-start;
}

.formTitle {
  color: white;
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-family: 'Marvel', sans-serif;
  letter-spacing: 3px;
  font-weight: 800;
  margin-top: 20px;
  margin-bottom: -20px;
}

.formBtn {
  border: none;
  padding: 20px 150px;
  font-family: 'Marvel', sans-serif;
  font-size: 20px;
  background: rgba(255, 0, 0, 0.7);
  color: white;
  width: 100%;
 margin-bottom: -50px;
  
}

.alreadyUser {
  border: 1px solid white;
  width: 50%;
  margin: auto;
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: 'Marvel', sans-serif;
  letter-spacing: 4px;
  margin-bottom: 20px;
  margin-top: -20px;
  padding: 10px;
}

.aLink {
  text-decoration: none;
  color: red;
  padding-left: 8px;
}
.formDescription {
  font-family: 'Marvel', sans-serif;
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: -80px;
}



/* END REGISTER */

/* SINGLE ITEM */

.singleItemBox {
  border: 1px solid red;
  margin-top: 130px;
  margin-left: -0px;
  padding: 20px;
  height: 730px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
}

.cardImgSingle {
  height: 375px;
  width: 400px;
  text-align: center;
  margin-top: 10px;
}

.singleMain {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-around;
}

.singleFormBox {
  padding: 10px;
  font-family: 'Marvel', sans-serif;
  font-size: 20px;
  margin-bottom: -80px;  
}

.singleProdInfo {
  text-align: center;
  border-bottom: 1px solid red;
  padding: 5px;
  padding-bottom: 13px;
  font-family: 'Marvel', sans-serif;
  font-size: 20px;
}

/* REVIEWS */

.reviewContainer {
  
  width: 50%;
  height: 75%;
  margin-top: 120px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align:justify;
}

.reviewBoxTitle {
  padding: 10px;
  border-bottom: 1px solid rgba(255, 0, 0, 0.5);
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.reviewSingleTitle {
  font-size: 23px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.reviewSingleDescription {
  padding-left: 10px;
  font-size: 20px;
  margin-bottom: 60px;
}

.reviewMain {
  border: 1px solid red;
  width: 100%;
  height: 100%;
  margin: auto;
  margin-top: 10px;
  background:rgba(0, 0, 0, 0.8);
  color: white;
  position: relative;
  font-family: 'Marvel', sans-serif;
}

.reviewMainTitle {
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  width: 30%;
  margin: auto;
  margin-top: 10px;
  padding: 5px 10px;
  font-family: 'Marvel', sans-serif;
  letter-spacing: 4px;
}

.reviewBtn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
}

.dateTime {
  font-size: 14px;
  padding-left: 30px;

}

.noReviews {
  color: white;
  font-size: 30px;
  font-family: 'Marvel', sans-serif;
  border: 1px solid red;
  text-align: center;
  margin-top: 60px;
  background:rgba(0, 0, 0, 0.8);
  padding: 30px;
}

/* REVIEW END */

/* CART */

.cartMain{
  background: black;
  border: 1px solid red;
}

.cartImg {
  height: 150px;
  width: 150px;
}

.cartItemGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 5px;
  column-gap: 5px;
  margin-bottom: 20px;
  
}

.cartItemInfo {
  text-align: center;
  color: white;
}

.cartButtons {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.cartItemAmount {
  border: 1px solid red;
  padding: 0 20px;
  display: flex;
  align-items: center;
}
.btn {
  padding: 0 10px;
  background: red;
  color: white;
}

.cartTotal {
  color: white;
  text-align: center;
}

.checkoutBtn {
  border: none;
  background: red;
  color: white;
  font-family: 'Marvel', sans-serif;
  padding: 10px 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.cartTitle {
  color: white;
  font-family: 'Marvel', sans-serif;
  text-align: center;
  font-size: 30px;
  padding-top: 15px;
  margin-bottom: 20px;
}

.noItemCart {
  color: white;
  font-family: 'Marvel', sans-serif;
  text-align: center;
  font-size: 25px;
  padding-bottom: 20px;
}

.loginCheckout {
  font-family: 'Marvel', sans-serif;
  letter-spacing: 5px;
  border: 1px solid red;
  width: 20%;
  margin: auto;
  margin-bottom: 20px;
  font-size: 17px;
  padding: 10px;
}
/* CART END */

/* ADMIN */

.adminBox {
  display: flex;
  height: 100vh;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.createMain {
  border: 1px solid red;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  height: 500px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Marvel', sans-serif;
  font-size: 20px;
}

.adminFormTitle {
  text-align: center;
}
.createBox {
  width: 100%;
}

.adminTitle {
  color: white;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid red;
  margin-bottom: 20px;
  padding: 30px;
  font-family: 'Marvel', sans-serif;
  letter-spacing: 5px;
}
.adminPageBtn {
background: red;
width: 100%;
margin-top: 20px;
font-family: 'Marvel', sans-serif;
  letter-spacing: 5px;
  height: 40px;
  font-size: 20px;
}

.itemAdded {
  color: white;
  margin-top: 5px;
  text-align: center;
}

.deleteTitle {
  margin-bottom: 50px;
}

/* ADMIN END */


/* ABOUT */

.aboutBox {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutMain {
  border: 1px solid red;
  color: white;
  height: 600px;
  width: 900px;
  background: rgba(0, 0, 0, 0.8);
}

.aboutTitle {
  text-align: center;
  font-family: 'Marvel', sans-serif;
  letter-spacing: 5px;
  margin-top: 30px;
}

.aboutDescription {
  width: 80%;
  margin: auto;
  font-size: 20px;
  font-family: 'Marvel', sans-serif;
  padding-top: 70px;
  line-height: 25px;
}

/*  ABOUT END */

/* CONTACT START */

.contactFormMain {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.contactFormBox {
  display: flex;
  flex-direction: column;
  background:rgba(0, 0, 0, 0.8);
  color: white;
  border: 1px solid red;
  height: 600px;
  width: 900px;
  padding: 20px;
}

.contactTitles {
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: 'Marvel', sans-serif;
}

.contactFormFields {
  margin-top: 20px;
}

.inputBox2 {
  height: 200px;
  width: 100%;
  background: rgba(255, 0, 0, 0.3);
}

.formMessage {
  color: white;
  font-family: 'Marvel', sans-serif;
  width: 100%;
  text-align: right;
  margin-bottom: -25px;
}

/* USER PROFILE */

.userProfileMain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.userBox {
  border: 1px solid black;
  height: 50%;
  width: 50%;
}

.mainProfileImage {
  max-height: 200px;
  max-width: 200px;
  border-radius: 10%;
}

.noProductMessage {
  color: white;
  border: 1px solid red;
  width: 50%;
  text-align: center;
  padding: 10px;
  background:rgba(0, 0, 0, 0.8);
  font-family: 'Marvel', sans-serif;
  letter-spacing: 3px;
  margin: auto;
}

.gridTopper {
  border: 1px solid red;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
}

.filterBtn {
  margin:  0 10px;
  padding: 3px 10px;
  border: 1px solid red;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-family: 'Marvel';
  letter-spacing: 3px;
  cursor: pointer;
}

.searchInput, p {
  height: 20px;
  margin-left: 5px;
  align-self: center;
}