/* FONTS */
/* font-family: 'La Belle Aurore', cursive; */

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}


.itemCard {
   border: 1px solid black;
   background-color: white;
}
/* Nav */

.navMain {
    display: flex;
    justify-content: center;
    background: transparent;
}

.navLogo {
    font-family: 'La Belle Aurore', cursive;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    letter-spacing: 10px;
    margin-left: 50px;
    font-size: 90px
}

.navLink {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 0px 30px 0px 30px;
}

  .reviewMain {
      border: 1px solid black;
      width: 50%;
      margin: 20px;
      padding: 20px;
  }

  .hideRole {
      display: none;
  }

  /* CART */

  .cartIcon {
      position: absolute;
      right: 0;
      border: none;
      background: white;
        height: 70px;
        width: 70px;
  }

  /* HOME */

  .homeBackground {
      background-image: url('./assets/GraffiTEESbg.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 105vh;
      width: 100%;
      margin-top: -22px;
  }